.marginleft{
    margin-left: 1%;
    margin-top: 1%;
    font-size: larger;
    text-align: left;
    width: 500px;
    
}

.marginmap{
    margin-left: 6%;
    margin-top: 5%;
    width: 25%;
}

.mleft{
    margin-left: 75%;
}
