@model Mazr3a.Models.Sector

@{
    ViewData["Title"] = "Create";
}

<h3>القطاعات</h3>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Farm_Name" class="control-label"></label>
                <input asp-for="Farm_Name" class="form-control" />
                <span asp-validation-for="Farm_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector_ID" class="control-label"></label>
                <input asp-for="Sector_ID" class="form-control" />
                <span asp-validation-for="Sector_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="اضافة" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">رجوع</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
