<br />
<div style="border:1px solid black; padding:10px;">
    <h6>اسم المزرعة: @ViewBag.mazr3a </h6>
    <h6>اجمالي العمالة: @ViewBag.Total_Workers جنية</h6>
    <h6>اجمالي المواد والاسمدة: @ViewBag.Total_Material جنية</h6>
    <h6>الاجمالي : @ViewBag.Total جنية </h6>
</div>
